{% extends "parts/home/layout.njk" %}

{% block content %}

    <div class="public_recipes_index">
        <div class="main_header">
            <span>
                <div>
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                    </p>
                </div>

                <img src="/chef.png" alt="chef">

            </span>
        </div class="main_header">

        <div class="subtitle">
            <h1>Novas receitas</h1>
        </div>

        <section class="cards">
            {% for recipe in recipes %}
                <div class="card" id="{{recipe.id}}">
                    
                    <img src="{{recipe.image_path}}" alt="Image of {{recipe.title}}">
                    <div class="card_content">{{recipe.title}}</div>
                    <div class="card_info">por {{recipe.chef_name}}</div>
                    <a href="/recipe/{{recipe.id}}"></a>
                       
                </div>
            {% endfor %}
        </section>

    </div>


{% endblock %}