<div class="item">
    <div>Nome</div>
    <div>
        <div>
            <input type="text" name="name" value="{{ user.name }}">
        </div>
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <div>
            <input 
                type="text" 
                name="email" 
                value="{{ user.email }}"
                onblur="Validate.apply(this, 'isEmail')">
        </div>
    </div>
</div>

<div class="item">
    <div>Senha</div>
    <div>
        <div>
            <input 
                type="password" 
                name="password" 
                placeholder="Digite sua senha">
        </div>
    </div>
</div>

